.ul_list{
    margin:0;
    padding: 0;
}
.ul_list li{
    list-style: none;
}
.ul_list li a{
    text-decoration: none;
}
.ul_list_2{
    margin:0;
    padding:0;
}
.ul_list_2 li{
    padding-left: 1rem;
    padding-right: 1rem;;
}
.ul_list_2 li  ul li{
    padding-left: 5px ;
    padding-right: 5px;
}

.text-blue {
    color: #0062bd !important;
}
.font-size-14 {
    font-size: 0.875rem;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.text-gray-90 {
    color: #333e48;
}
.btn_1{
    border-radius: 25px;
    font-weight: 700;
    font-size: 14px;
}
.btn_g{
    color: #77838f;
    background: rgba(119, 131, 143, 0.1);
    border-color: transparent;
}
.btn_g:hover{
    color: #fff;
    background: #77838f;
    box-shadow: 0 4px 11px rgba(119, 131, 143, 0.35);
}
.btn_y{
    color: #333e48;
    background-color: #fed700;
    border-color: #fed700;
}
.btn_y:hover{
    background-color: #333e48;
    border-color: #333e48;
    color: #fff;
}
button:focus {
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
    outline: 0px auto -webkit-focus-ring-color;
}
.btn_bg{
    background: #FFE53B;
}
a{
    text-decoration: none;
    color:#000;
}
a:hover{
    text-decoration: none;
    color:#000;
}

/* carosuel part */

.owl-slider_common .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-slider_common .owl-dots {
    text-align: center;
    padding-top: 15px;

}
.owl-slider_common .owl-dots button.owl-dot {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}
.owl-slider_common .owl-dots button.owl-dot.active {
    background-color: #FFE53B;
}
.owl-slider_common .owl-dots button.owl-dot:focus {
    outline: none;
}
.owl-slider_common .owl-carousel .owl-nav button.owl-next{
    display: none;
}
.owl-slider_common .owl-carousel .owl-nav .owl-prev{
    display: none;
}
.owl-slider_common .owl-carousel .owl-item{
    /* margin-bottom: 10px;
    margin-left: 1px;
    margin-top: 3px;
    margin-bottom: 4px; */
    /* margin-right:10px!important; */
    box-shadow: 0 2px 8px 0px rgba(74,74,74,0.20);
}
.owl-stage-outer { 
    overflow: visible;
}
    
.owl-item {
    opacity: 0;
    transition: opacity 500ms;
}
.owl-item.active {
    opacity: 1;
}

/* focus */
.focus_none:focus, .focus_none:focus{
    outline: none;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}

/* color */
.color_AC{
    color:#ACACAC;
}
.color_black{
    color:#000;
}
.color_yellow{
    color:#FFE53B;
}
.color_80{
    color:#808080;
}
.color_subhead{
    color:#111111;
}
.color_red{
    color:#FF4646;
}
/* background */
.bg_yellow{
    background-color: #FFE53B;
}
.bg_ef{
    background-color: #EFEFEF;
}

/* checkbox */
/* .custom_checkbox_input .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #FFE852;
    background-color: #FFE852;
    
}
.custom_checkbox_input .custom-control-label{
    font-size: 14px;
} */


/* Customize the label (the container) */
.checkbox_container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #858585;

  }
  
  .checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

  }
  
  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border: 0px solid #eee;
    background: none;
    box-shadow: 0px 1px 3px 2px rgba(0,0,0,.1);
    
  }

  .checkbox_container:hover input ~ .checkmark {
    background-color: #FFE852;
  }

  .checkbox_container input:checked ~ .checkmark {
    background-color: #ffe53b;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox_container input:checked ~ .checkmark:after {
    display: block;
  }

  .checkbox_container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* font */
.fw_4{
    font-weight: 400;
}
.fw_5{
    font-weight: 500;
}
.fw_6{
    font-weight: 600;
}
.fw_7{
    font-weight: 700;
}
.br_30{
    border-radius: 30px;
}
.br_25{
    border-radius: 25px;
}
.br_50{
    border-radius: 50%;
}