/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .header_menu_3 ul li a {
        font-weight: 700;
        font-size: 11px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
    }
    .navbar-nav-2 li a.active {
        background: #FFE53B;
        border-radius: 21px;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .navbar-nav-2 {
        margin-bottom: 10px;
        justify-content: space-between;
    }
    .registration_part {
        padding-left: 0px;
        margin-top: 40px;
        border-top: 1px solid #ccc;
        padding-top: 20px;
    }
    .check_out_product_image {
        width: 150px;
        margin: 0 auto;
    }
    .col_pr_0{
        padding-right: 0px;
    }
    .col_pl_0{
        padding-left: 0px;
    }
    .col_mr_0{
        padding-right: 0px;
    }
    .col_ml_0{
        padding-left: 0px;
    }
    .check_out_product_remove a {
        font-size: 12px;
    }
    .multiple_address {
        display: flex;
        flex-wrap: wrap;
    }
    #carousel_1 .item{
        height: 250px;
    }
    
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .sm_pr_0{
        padding-right: 0px;
    }
    .sm_pl_0{
        padding-left: 0px;
    }
    .sm_mr_0{
        padding-right: 0px;
    }
    .sm_ml_0{
        padding-left: 0px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .md_pr_0{
        padding-right: 0px;
    }
    .md_pl_0{
        padding-left: 0px;
    }
    .md_mr_0{
        padding-right: 0px;
    }
    .md_ml_0{
        padding-left: 0px;
    }
    #carousel_1 .item{
        height: 400px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .lg_pr_0{
        padding-right: 0px;
    }
    .lg_pl_0{
        padding-left: 0px;
    }
    .lg_mr_0{
        padding-right: 0px;
    }
    .lg_ml_0{
        padding-left: 0px;
    }
    #carousel_1 .item{
        height: 450px;
    }
    
}
@media (max-width: 920px){
    .menu_1{
        position: absolute;
        top:100%;
        left: 0%;
        right: 0%;
        
    }
    
}
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
    .lg_pr_0{
        padding-right: 0px;
    }
    .lg_ml_0{
        padding-left: 0px;
    }
    .lg_mr_0{
        padding-right: 0px;
    }
    .lg_pl_0{
        padding-left: 0px;
    }
    .padding_none {
        margin-left: -5px;
        margin-right: -5px;
    }
    .padding_none .padding_none_col{
        padding-left: 5px;
        padding-right: 5px;
    }
    .padding_none_border{
        padding:0px 5px;
    }
    #carousel_1 .item{
        height: 450px;
    }
    

}